@import 'styles/variables.css';

.root {
    .col1 {
        width: 10%;
    }

    .col2 {
        width: 40%;
    }

    .col3 {
        width: 40%;
    }

    .col4 {
        width: 10%;
    }
}

.block {
    display: flex;
    align-items: center;
    padding: 1.5rem 0;

    & > *:first-child {
        width: 20rem;
    }

    &.merge {
        padding-bottom: 0;

        & + * {
            opacity: 0.5;
        }
    }

    &:not(.merge):not(:last-child) {
        border-bottom: 1px solid var(--gray-stroke-light);

        &:nth-child(4) {
            border-bottom-color: var(--gray-stroke-dark);
        }
    }
}

.anchor-block {
    margin-top: 30px;
}

.content-title {
    margin-bottom: -10px;
}

.network-box {
    margin-top: 10px;
}

.directory-vertical {
    min-width: 200px;
}

.blockchain-button {
    color: var(--white);
    font-size: 1.15rem;
    font-weight: 700;
    background: var(--blue);
    min-height: 2.7rem;
    border-radius: var(--border-radius);
    padding: 0.3rem 1rem;
    min-width: 9rem;
    margin-left: 15px;
    align-self: center;
    opacity: 1;
    transition: opacity 0.25s linear;

    &:hover {
        transition: background 0.25s linear;
        background: var(--blue-hover);
    }
}

.disabled {
    opacity: 0.5;
}
