{
    "presets": [
        [
            "env",
            {
                "modules": false
            }
        ],
        "stage-0",
        "react"
    ],
    "plugins": [
        "transform-decorators-legacy",
        "transform-runtime"
    ],
    "env": {
        "development": {
            "plugins": ["react-hot-loader/babel"]
        },
        "test": {
            "presets": [["env"], "stage-0", "react"],
            "plugins": [
                "transform-decorators-legacy",
                "transform-runtime"
            ]
        }
    }
}
