@import 'styles/variables.css';

.pending-container {
    position: relative;
    vertical-align: middle;
    line-height: 1rem;
}

.chainRow td {
    line-height: 1rem;

    &:first-child {
        padding-left: 0 !important;
    }

    &.truncatedId {
        width: 78px;
        min-width: 78px;
    }

    a {
        display: inline-block;
    }
}

.chainRow td,
.chainRow td a {
    vertical-align: middle;
}

.fade-out {
    position: relative;
    overflow: hidden;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 10rem;
        height: 100%;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, var(--white) 100%);
    }
}

tr:hover {
    .fade-out {
        &::after {
            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, var(--gray-bg-light-hover) 100%);
        }
    }
}
