@import 'styles/variables.css';

.root {
    display: inline-flex;

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.dropdown-header {
    background: var(--yellow);
    color: var(--white);
    border-radius: 12px 0 0 12px;
    padding: 4px 10px 4px 0;
    min-width: 88px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.dropdown-options {
    width: 12.5rem;
}

.badge {
    composes: dropdown-header;
    padding: 4px 10px;
    min-width: 64px;
}

.value {
    border: 1px solid var(--gray-stroke-light);
    background: var(--white);
    border-radius: 0 12px 12px 0;
    padding: 3px 8px;
    overflow: hidden;
    word-break: break-all;
    font-size: 12px;
}
