@import 'styles/variables.css';

.root {
    display: block;
    font-family: var(--monospace-font);
    overflow: hidden;
    text-overflow: ellipsis;
}

a.root {
    color: var(--blue);

    &:hover {
        color: var(--black);
    }
}

.external {
    composes: root;
    display: block;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;

    &::after {
        content: '';
        display: inline-block;
        margin-left: 0.5rem;
        width: 1.3rem;
        height: 1.3rem;
        background: url('./assets/external.svg') no-repeat center;
        background-size: contain;
    }
}

@media (--up-to-small-viewport) {
    .external {
        width: 100%;

        &::after {
            display: none;
        }
    }
}
