@import 'styles/variables.css';

.root {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.label {
    margin-right: 0.25rem;
    font-weight: 600;
    color: var(--gray-light);

    & ~ & {
        margin-left: 1rem;
    }
}

.date {
    font-family: var(--font);
    padding-right: 10px;
}

.hash {
    width: 0;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link {
    composes: root from 'components/hash/styles.css';
}

.block {
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (--up-to-small-viewport) {
    .label-entry {
        width: 135px;
    }
}
