@import 'styles/variables.css';

.modal-root {
    width: 100rem;

    &.default-position {
        position: absolute;
        top: 12%;
        --left-right-padding: 4.5rem;
    }

    &.ie-position {
        position: relative;
        top: 0;
    }
}

@media (--up-to-extra-small-viewport) {
    .modal-root {
        width: 100%;
        top: 0;
        height: 100%;
    }
}

@media (--up-to-extra-small-viewport-height) {
    .modal-root {
        &.default-position {
            top: 2%;
        }
    }
}

.modal-header {
    padding: 3.5rem 4.5rem;
    background: var(--violet-dark);
    color: var(--white);
    font-size: 2.2rem;
    line-height: 1em;
    font-weight: 300;
}

.modal-body {
    font-size: 1.4rem;
    padding: 4.5rem;
}

.modal-footer {
    padding: 0 4.5rem 3.5rem;
    text-align: right;
}

.button {
    padding: 1rem 2rem;
    border: 1px solid var(--blue);
    border-radius: var(--border-radius);
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--blue);
    transition: all 150ms ease-out-cubic;

    &:hover {
        background: var(--blue);
        color: var(--white);
    }

    & > img {
        margin-right: 8px;
    }
}

.button-copy {
    border: none;
    position: relative;

    &:hover {
        cursor: pointer;
        background: none;
        color: var(--blue);
    }
}

.json-container {
    word-break: break-all;
    margin-top: 15px;
    border: 1px solid var(--gray-stroke-light);
    border-radius: 4px;
    text-size-adjust: none !important;
}

.json-root {
    height: 40vh;
}

.action-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.action-container span {
    font-weight: 700;
}

.toast {
    position: absolute;
    background: var(--yellow);
    height: 24px;
    border-radius: 12px;
    padding: 3px 10px;
    color: var(--white);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80px;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.25s linear, opacity 0.25s linear, bottom 1s linear;
    bottom: 0;
}

.show-toast {
    opacity: 1;
    visibility: visible;
    bottom: 35px;
    transition: visibility 0.25s linear, opacity 0.25s linear, bottom 0.2s ease-in-out;
}
