.table-left-no-padding {
    padding-left: 0;
}

/* using "important" b/c we are overriding styles in
child component (<Table>) and not worth over-complicating
component by creating a prop for these classes */
.table-left-content-padding {
    padding-left: 8px !important;
}

.table-left-content-padding-icon-align {
    padding-left: 30px !important;
}
