@import 'styles/variables.css';

.root {
    margin: 0 auto 3rem;
    padding: 2rem;
    width: var(--content-width);
    max-width: var(--content-max-width);
    border-radius: var(--border-radius);
    background: var(--white);
    box-shadow: 0 0 8px 0 rgba(var(--black), 0.12);
}

.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.title {
    font-size: 3rem;
    font-weight: 300;

    section.root & {
        font-weight: 200;
    }
}

.subtitle {
    flex-basis: 100%;
    color: var(--gray-light);
}

.count {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    padding: 0 0.8rem;
    min-width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    border: 1px solid var(--gray-stroke-dark);
    font-size: 2rem;
    font-weight: 300;
    color: var(--gray-light);
}

.actions {
    flex-grow: 1;
    text-align: right;
}

.set-full-width {
    padding-left: 0;
    padding-right: 0;
}

.set-with-padding,
.set-full-width > div {
    padding-left: 2rem;
    padding-right: 2rem;
}
