:root {
    --blue: #417BA4;
    --yellow: #E8B420;
    --violet: #7F5D93;
    --violet-dark: #262641;

    --white: #FFF;
    --black: #000;

    --gray-bg-light: #F5F5F5;
    --gray-bg-dark: #E8E8E8;
    --gray-stroke-light: #E9E9E9;
    --gray-stroke-dark: #C3C3C3;
    --gray-light: #7B7B7B;
    --gray: #4A4A4A;

    --app-bg: #FAFAFA;
    --app-header-bg: linear-gradient(90deg, #111135 0%, #343454 100%);

    --content-width: 95%;
    --content-max-width: 1400px;
    --border-radius: 0.4rem;
    --feedback-link-height: 4rem;

    --font: 'Montserrat', sans-serif;
    --monospace-font: 'Roboto Mono', monospace;
}
