@import 'styles/variables.css';

.root {
    padding-bottom: calc(3rem + var(--feedback-link-height));
    min-height: 100vh;
    font-family: var(--font);
    font-size: 1.3rem;
    background: var(--app-bg);
    color: var(--black);
}
