@import 'styles/variables.css';

.horizontal {
    display: flex;
    align-items: flex-start;

    & > * + * {
        margin-left: 2rem;
    }

    & > *:last-child {
        flex-grow: 1;
    }

    main + & {
        margin: 0 auto;
        width: var(--content-width);
        max-width: var(--content-max-width);
    }
}

.vertical {
    display: flex;
    flex-direction: column;

    & > * + * {
        margin-top: 1rem;
    }
}

.box {
    padding: 1rem;
    border-radius: var(--border-radius);

    &.fill {
        background: var(--gray-bg-light);
    }

    &.outline {
        border: 1px solid var(--gray-stroke-light);
    }
}
