@import 'styles/variables.css';

.horizontal {
    display: flex;
    align-items: flex-start;

    & > * + * {
        margin-left: 2rem;
    }

    & > *:last-child {
        flex-grow: 1;
    }

    main + & {
        margin: 0 auto;
        width: var(--content-width);
        max-width: var(--content-max-width);
    }
}

.vertical {
    display: flex;
    flex-direction: column;

    & > * + * {
        margin-top: 1rem;
    }
}

.box {
    padding: 1rem;
    border-radius: var(--border-radius);

    &.outline {
        border: 1px solid var(--gray-stroke-light);
    }

    &.fill {
        background: var(--gray-bg-light);
    }

    &.disabled {
        background: var(--gray-bg-light);
        opacity: var(--disabled-opacity);
    }
}

.vertical-to-horizontal {
    composes: horizontal;

    &.vertical-up-to-medium {
        @media (--up-to-medium-viewport) {
            flex-direction: column;

            & > * {
                margin-top: 1rem;
                margin-left: 0;
                width: 100%;
            }
        }
    }

    &.vertical-up-to-small {
        @media (--up-to-small-viewport) {
            flex-direction: column;

            & > * {
                margin-top: 1rem;
                margin-left: 0;
                width: 100%;
            }
        }
    }
}
