@import 'styles/variables.css';

.header {
    display: inline-flex;
    position: relative;
    padding-left: 80px;
    bottom: 20px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.content {
    border: 1px solid var(--gray-stroke-light);
    border-radius: 4px;
    padding: 8px;
    white-space: pre;

    /* If you want to use a monospace font like <pre> does by default */
    font-family: monospace;
}

.button {
    color: var(--blue);
    cursor: pointer;
}

.content-title {
    margin-bottom: -10px;
}
