@import 'styles/variables.css';

.dropdown {
    width: 100%;
}

.link {
    color: var(--blue);
    font-weight: 600;
}

.dropdown-header {
    padding: 10px 10px 10px 0;
    display: flex;
    color: #000;

    & > span {
        padding: 0 !important;
    }
}

.dropdown-options {
    overflow-y: scroll;
    height: 50rem;
    margin-top: 12px;

    & > div {
        color: #000;
        font-size: 1.2rem;
    }
}

.form-input {
    color: var(--black);
    width: 100%;
    border-radius: 4px;
    font-size: 1.2rem;
}

.no-available {
    opacity: 0.5;
    text-decoration: line-through;
}

td {
    &:not(:last-child) {
        padding-right: 10.5rem !important;
    }
}
