@import 'styles/variables.css';

.root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 2rem;
    width: var(--content-width);
    max-width: var(--content-max-width);
    font-size: 1rem;
    color: var(--gray);
}
