@import 'styles/variables.css';

.root {
    display: flex;
    align-items: center;
    height: 100%;

    &::before {
        content: '';
        display: block;
        margin-right: 1rem;
        width: 2rem;
        height: 2rem;
        background: url('./assets/search.svg') no-repeat center;
        background-size: contain;
    }
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    width: 100%;
    color: var(--white);

    & input {
        margin-top: 1.6rem;
        font-family: var(--monospace-font);
        font-size: 1.8rem;
        line-height: 1.8rem;
        font-weight: 300;
        color: inherit;

        &::placeholder {
            font-family: var(--font);
            font-size: 2rem;
            color: inherit;
            opacity: 0.5;
        }
    }
}

.help {
    height: 1.6rem;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 150ms ease-out-cubic;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 99%;

    &.visible {
        opacity: 0.5;
    }
}
