@import 'styles/variables.css';

.root {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    white-space: nowrap;

    & > tbody {
        & th,
        & td {
            color: var(--gray);
            border-bottom: 1px solid var(--gray-stroke-light);
            cursor: pointer;
        }

        & tr:hover > * {
            background: var(--gray-bg-light);
        }
    }
}

.primary {
    composes: root;

    & th,
    & td {
        padding: 1.5rem;

        &:not(:first-child) {
            padding-left: 0;
        }
    }

    & thead th {
        background: var(--gray-bg-dark);

        &:first-child {
            border-top-left-radius: var(--border-radius);
            border-bottom-left-radius: var(--border-radius);
        }

        &:last-child {
            border-top-right-radius: var(--border-radius);
            border-bottom-right-radius: var(--border-radius);
        }
    }
}

.secondary {
    composes: root;

    & th,
    & td {
        padding: 1.5rem 0;

        &:not(:last-child) {
            padding-right: 1.5rem;
        }
    }

    & thead th {
        color: var(--gray-light);
        border-bottom: 1px solid var(--gray-stroke-light);
    }
}

.header {
    composes: root from 'components/label/styles.css';
}

.ellipsis {
    width: 100%;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.center {
    text-align: center;
}
