@import 'styles/variables.css';

.pending-legend {
    margin-bottom: 2rem;
    padding-top: 14px;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    font-size: 11px;
}

.pending-legend.pending-legend-highlight {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    background-color: var(--yellow);
    color: var(--black);

    strong {
        font-weight: 500;
    }
}

.pending-legend-icon {
    display: inline-block;
    margin: 0 var(--default-table-padding);
    font-size: 15px !important;
    color: var(--yellow);
}

.pending-legend-highlight .pending-legend-icon {
    color: var(--black);
    margin: 0 8px 0 0;
}
